.obsidian/workspace.json
.obsidian/graph.json
.obsidian/themes
.obsidian/plugins/*/main.js
.obsidian/plugins/*/manifest.json
.obsidian/plugins/*/styles.css
.obsidian/plugins/obsidian-zotero-desktop-connector/pdfannots2json-*
.obsidian/plugins/obsidian-local-rest-api/data.json
